!.mvn/wrapper/maven-wrapper.jar
*.iws
*.iml
*.ipr
target/
.settings
.project
.classpath
.externalToolBuilders
*.class
*svn/
.idea/
*.jar
.metadata/
generatorConfig.xml
~*
logPath_IS_UNDEFINED/
src/main/resources/rebel.xml
LICENSE
*.md